@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome to Budget Buddy</h1>
        <p class="lead">Manage your finances with ease.</p>
        <a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-lg">Login</a>
    </div>

    
    <div class="text-center">
        <img src="~/image.png" alt="Budget Buddy Logo" style="max-width:25%; height:auto; margin-top:20px;">
    </div>
</div>
