@model BudgetBuddy.Models.User


<h2>Add Users to Budget</h2>

<form asp-action="AddUser" method="post">
    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" name="FirstName" required>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" name="LastName" required>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="Email" required>
    </div>
    <button type="submit" class="btn btn-primary">Add User</button>
</form>