﻿@{
    ViewData["Title"] = "Forgot Password";

}



<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        /* Add CSS to center the content */
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="centered">
        <h1>Forgot Password Confirmation</h1>
        
        <p>
            We have sent a password reset link to the email address you provided. Please check your inbox and follow the instructions in the email to reset your password.
        </p>

        <p>
            If you don't receive the email within the next 15 minutes, please check your spam folder or contact our support team for assistance.
        </p>

        <p>
            Thank you,
            <br>
            The Budget Buddy Team
        </p>
    </div>

</body>
</html>
