@model BudgetBuddy.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}



<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        /* Add CSS to adjust the form position and spacing */
        .form-container {
            display: flex;
            height: 75vh; /* Decrease the height to move the form up */
            align-items: center;
            justify-content: center;
        }

        .form-box {
            width: 100%;
            max-width: 330px; /* Set the max width of the form as needed */
            margin-top: -5%; /* Adjust the negative margin to move the form up */
        }

        .form-group {
            margin-bottom: 1rem; /* Adjust space between form groups */
        }

            .form-group:last-child {
                margin-bottom: 2rem; /* Add extra space before the submit button */
            }
    </style>
</head>
<body>

    <h1>@ViewData["Title"]</h1>

    @if (TempData["CustomError"] != null)
    {
            <div class="alert alert-danger">
            @Html.Raw(TempData["CustomError"].ToString())
            </div>
    }

    <div class="form-container">
        <div class="form-box">
            <form asp-action="ResetPassword">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input type="Email" asp-for="Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Token" class="form-control" />
                <div class="form-group">
                    <input type="submit" value="Reset Password" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</body>
</html>
