@model BudgetBuddy.ViewModels.WelcomeUserViewModel
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Welcome to Budget Buddy!";
}

<div class="text-center">
    <h1>Welcome, @Model.UserInfo.First_Name!</h1>
    <h4>It's great to have you here, @Model.UserInfo.First_Name. Let's dive into your financial journey together.</h4>
    <h5>Your Budget Buddy is here to assist you with all your budget tracking needs. Whether you're looking to create multiple budgets, add transactions, or categorize your expenses, I've got you covered!</h5>

    <div class="mt-4">
        <!-- Button for Individual Mode -->
        <a href="@Url.Action("Budget_Index", "Budget")" class="btn btn-primary btn-lg mr-6">Individual Mode</a>

        <!-- Button for Enterprise Mode -->
        <a href="@Url.Action("Budget_Index_Enterprise", "Budget")" class="btn btn-primary btn-lg">Enterprise Mode</a>
    </div>
</div>
